.axit_header {
    display: flex;
    justify-content: center;

    background-color: #000000;
}

.header__menu_block {
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.axit__header_button {
    width: 114px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    background-color: #000000;
    color: #FFFFFF;

    text-decoration: none;
    align-items: center;
}

.axit__header_buttons-block li{
    display: inline-block;
    width: 114px;
    padding: 20px;
}

