.title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Raleway','Arial',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 42px;

    min-height: 150px;

    color: #000000;

}

.under_title {
    width: 170px;

    color: #EC7979;
    border: 1px solid #EC7979;

    margin-top: 0;
    margin-bottom: 0;

}

.subtitle {
    font-family: 'Raleway','Arial',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-align: center;

    color: #86878B;
    margin-top: 40px;
    margin-bottom: 110px;

}

.main_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 1510px;

    margin: 50px auto;

}

.awesome_block {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 1170px;

    margin-top: 50px;

}

.menu_container {
    display: flex;


    align-items: center;
    justify-content: center;


    box-sizing: border-box;
    padding-bottom: 58px;

}

.awesome__block_list li:nth-child(1){
    margin-right: 30px;

}

.awesome__block_list li:nth-child(3) {
    margin-left: 30px;

}

.list_img {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 92px;
    min-height: 92px;

    margin: auto;

    border-radius: 50%;
    border: 1px solid #EC7979;

}

.list_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;

    width: 370px;
    min-height: 100px;

    color: #000000;
    margin-top: 39px;

}

.list_subtitle {
    font-family: 'Raleway','Arial',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
    align-items: center;

    margin-top: 8px;

    width: 370px;

    color: #000000;

}

.awesome__block_list {
    display: flex;

    justify-content: space-between;
}






