.contact__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 1170px;

    padding: 50px;
    margin: auto;
}

.contact__block_title{
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    padding: 50px 0 0 0 ;

    text-transform: uppercase;

    color: #000000;

}

.contact__block__subtitle{
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #86878B;

    margin-top: 40px;
}

.contact__block_title:after{
    display: block;

    position: relative;
    left: 30px;

    content: "";

    width: 170px;

    border: 1px solid #EC7979;

    margin-top: 55px;
    margin-bottom: 0;
}

.contact__block_form{
    display: flex;
    justify-content: center;

    width: 1170px;
}
.contact__block_form-left{
    margin-top: 39px;

    width: 570px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    outline: none;
}

.contact__block_form-right{
    margin-top: 39px;
    margin-left: 30px;
    width: 570px;

}

.contact__block_form-input{
    width: 570px;
    outline: none;

    margin-top: 50px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #BDBDBD;

    border: #E5E5E5;

    padding-bottom: 16px;

    border-bottom: 1px solid #BDBDBD;
}

.contact__block_button{
    margin-top: 50px;

    width: 370px;

    padding: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
    background-color:#EC7979 ;

    border: 0;
}

#message{
    padding-bottom: 190px;
}



