.axit_header {
    display: flex;
    justify-content: center;

    background-color: #000000;
}

.header__menu_block {
    width: 1170px;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.axit__header_button {
    display: block;

    width: 114px;
    padding: 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    background-color: #000000;
    color: #FFFFFF;

    text-decoration: none;



}

.axit__header_buttons-block li{

    display: inline-block;
    text-align: center;
}

.axit__header_button:hover {
    background-color:  #EC7979;;
    text-transform: uppercase;
}

.axit__header_button:active{
    background-color: #AB4949;
    text-transform: uppercase;
}
