.tabs_block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 99px;

    width: 1170px;
    margin: auto;

}

.tabs {
    background-color: #FFFFFF;

    width: 184px;
    min-height: 40px;

    border: 0;
    padding: 0;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

}

.tabs.active {
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    width: 203px;
    padding: 10px;

}

.tabs.active:after{
    display: block;

    position: relative;
    left: -10px;
    top: 13px;
    content: "";

    width: 197px;

    border: 2px solid white;

    margin-top: 0;
    margin-bottom: 0;
}

.tab_title {
    display: flex;
    align-items: center;

    width: 570px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;

}

.tab_subtitle {
    display: flex;
    align-items: center;

    width: 570px;

    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    margin-top: 27px;

}

.tab_menu {
    display: flex;
    justify-content: space-between;

    border: 1px solid #C6CBCD;
    border-radius: 0 0 0 5px;

}

.download {
    width: 270px;

    padding: 20px;

    margin-top: 27px;

    border: 0;

    background-color: #EC7979;
    color: #FFFFFF;


    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

}


.place {
    width: 470px;
    height: auto;
}

.tab_button {
    display: flex;

}

.tab__menu_info-container{
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.download:hover{
    background-color: #AB4949;
}
.download:active{
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}
