.awesome_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 1170px;

    margin:auto;
}

.title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    padding: 50px 0 0 0;
    text-transform: uppercase;
    color: #000000


}

.title:after{
    display: block;

    position: relative;
    left: 110px;

    content: "";

    width: 170px;

    border: 1px solid #EC7979;

    margin-top: 55px;
    margin-bottom: 0;
}


.subtitle {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-align: center;

    color: #86878B;
    padding: 40px;

}

.menu_container {
    margin-top: 50px;
    display: flex;

    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding-bottom: 58px;

}

.awesome__block_list li:nth-child(1) {
    margin-right: 30px;

}

.awesome__block_list li:nth-child(3) {
    margin-left: 30px;

}

.list_img {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 92px;
    min-height: 92px;

    margin: auto;

    border-radius: 50%;
    border: 1px solid #EC7979;

}

.list_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;

    width: 370px;
    padding: 20px;

    color: #000000;
    margin-top: 39px;

}

.list_subtitle {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
    align-items: center;

    margin-top: 8px;

    width: 370px;
    padding: 10px;

    color: #000000;

}

.awesome__block_list {
    display: flex;

    justify-content: space-between;
}






