.customers__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 1170px;

    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.customers__block-title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    padding-top: 50px;
    text-transform: uppercase;
    color: #000000
}

.customers__block-title:after {
    display: block;
    position: relative;
    left: 230px;

    content: "";

    width: 170px;

    border: 1px solid #EC7979;

    margin-top: 55px;
    margin-bottom: 0;

}

.customers__block-subtitle {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-align: center;

    color: #86878B;

    margin-top: 40px;
}

.customers__block-cards {
    display: flex;
    margin-top: 83px;
    gap: 30px;
}

.customers__block_cards-message {
    width: 370px;
    border-radius: 10px;
    padding: 38px 20px;

    background-color: #E2E2E2;
    color: #86878B;

    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
}

.customers__block_cards li {
    display: flex;
    width: 270px;
    justify-content: flex-end;
}

.customers__block_cards-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.customers__block_cards-post {
    margin-top: 15px;

    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.customers__block_cards-message:after {
    position: relative;
    top: 89px;
    right: 135px;

    content: "";

    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #E2E2E2;
}

.customer__wrap {
    display: flex;
    margin-top: 66px;
    gap: 30px;
}

.customers__block_mobile-dots {
    display: none;
    gap: 50px;
    margin-top: 32px;
}

.customers__block_mobile-dots .dot {
    display: flex;
    padding: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #86878B;
    border-radius: 50%;
}

.dot:active {
    background-color: #86878B;
}


@media (max-width: 1510px) {
    .customers__block {
        width: 992px;
    }

    .customers__block-title {
        font-size: 24px;
        line-height: 28px;
    }

    .customers__block-title:after {
        width: 142px;
        left: 135px;
    }

    .customers__block-subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .customers__block-cards {
        margin-top: 32px;
        gap: 20px;

    }

    .customers__block_cards-message {
        width: 317px;
        padding: 45px 15px;
        font-size: 14px;
        line-height: 16px;
    }

    .customers__block_cards-message:after {
        right: 167px;
        top: 81px;

        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 25px solid #E2E2E2;
    }

    .customers__block_cards-name {
        font-size: 18px;
        line-height: 25px;
    }

    .customers__block_cards-post {
        margin-top: 8px;

        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: 1024px) {
    .customers__block {
        width: 95%;
        text-align: center;
    }

    .customers__block-cards li:nth-child(odd) {
        display: none;
    }

    .customers__block-title {
        font-size: 24px;
        line-height: 28px;
    }

    .customers__block-title:after {
        width: 134px;
        left: 90px;
    }

    .customers__block-subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .customers__block_cards-message {
        width: 288px;
        font-size: 14px;
        line-height: 16px;

        padding: 45px 10px;
    }

    .customers__block_cards-message:after {
        right: 200px;
        top: 86px;
    }

    .customers__block_cards-name {
        font-size: 14px;
        line-height: 19px;
    }

    .customers__block_cards-post {
        margin-top: 20px;
        font-size: 13px;
        line-height: 15px;
    }

    .customers__block_cards-container {
        text-align: start;
    }

    .customers__block_mobile-dots {
        display: flex;
    }
}
