.customers__block {
    width: 1170px;
}

.customers__block-title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 42px;

    min-height: 150px;
    margin-top: 50px;

    color: #000000;
}



.customers__block-subtitle {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-align: center;

    color: #86878B;

    margin-top: 40px;
}

.customers__block-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}

.customers__block_cards-message {
    width: 370px;
    border-radius: 10px;
    padding: 38px 20px;

    background-color: #E2E2E2;
    color: #86878B;

    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
}

.customers__block_cards li {
    display: flex;
    width: 270px;
    justify-content: flex-end;
}

.customers__block_cards-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.customers__block_cards-post {
    margin-top: 15px;

    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

}

.customers__block_cards-photo {
    width: 70px;
}

.customers__block_cards-message:after {
    position: relative;
    top: 89px;
    right: 135px;

    content: "";

    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #E2E2E2;

}

.customer__wrap {
    display: flex;
    align-items: center;
    margin-top: 66px;
    gap: 30px;
}

