.banner2__block {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 50px;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Desktop/banner-bottom_background.jpg) no-repeat center;
    background-size: cover;
}

.banner2__block_title {
    padding-top: 40px;

    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.banner2__block_title:after {
    display: block;

    position: relative;
    left: 120px;

    content: "";

    width: 170px;

    border: 1px solid #FFFFFF;

    margin-top: 50px;
    margin-bottom: 0;
}

.banner2__block_subtitle {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

    margin-top: 40px;
}

.banner2__block_download {
    margin-top: 73px;

    width: 370px;

    padding: 20px 0;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;

    background-color: transparent;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.banner2__block_download:hover {
    color: #EC7979;
    border: 2px solid #EC7979;

}

.banner2__block_download:active {
    color: #FFFFFF;
    background-color: #AB4949;
    border: 2px solid #AB4949;
}

@media (max-width: 1510px) {
    .banner2__block {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Tablet/banner_bottom_Tablet.jpg) no-repeat center;
        background-size: cover;
    }

    .banner2__block_title {
        font-size: 24px;
        line-height: 28px;
    }

    .banner2__block_title:after {
        width: 142px;
        left: 65px;
    }

    .banner2__block_subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .banner2__block_download {
        width: 318px;
    }
}

@media (max-width: 1024px) {
    .banner2__block {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Mobile/banner_bottom@Mobile.jpg) no-repeat center;
        background-size: cover;
        padding: 50px 0;
        text-align: center;
    }

    .banner2__block_title {
        font-size: 24px;
        line-height: 28px;
        padding: 0;
    }

    .banner2__block_title:after {
        width: 134px;
    }

    .banner2__block_subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .banner2__block_download {
        width: 288px;
        padding: 15px;
    }
}
