.tabs_block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 99px;
    margin: auto;

    width: 1170px;
}

.tabs {
    background-color: #FFFFFF;

    width: 203px;


    border: 1px solid #FFFFFF;
    border-bottom: 0;
    padding: 10px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.tabs:active {

    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;

    border-bottom: none;
}

.tabs:active:after {
    display: block;

    position: relative;
    left: -10px;
    top: 11px;
    content: "";

    width: 199px;

    border: 1px solid white;

    margin-top: 0;
    margin-bottom: 0;
}

.tab_title {
    display: flex;
    align-items: center;

    width: 570px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.tab_subtitle {
    display: flex;
    align-items: center;

    width: 570px;

    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    margin-top: 27px;
}

.tab_menu {
    display: flex;
    justify-content: space-between;

    border: 1px solid #C6CBCD;
    border-radius: 0 0 0 5px;
}

.download {
    width: 270px;
    padding: 20px;
    margin-top: 27px;
    border: 0;

    background-color: #EC7979;
    color: #FFFFFF;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.tab_button {
    display: flex;
}

.place {
    height: auto;
}

.tab__menu_info-container {
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.download:hover {
    background-color: #AB4949;
}

.download:active {
    background-color: #EC7979;
    box-shadow: inset 0 0 10px #AB4949;
}

@media (max-width: 1510px) {
    .tabs_block {
        padding-top: 45px;
        width: 992px;
    }

    .tabs {
        width: 172px;
    }

    .tabs:active:after {
        width: 168px;
    }

    .tab_title {
        width: 482px;
        font-size: 24px;
        line-height: 33px;
    }

    .tab_subtitle {
        width: 482px;
        font-size: 14px;
        line-height: 16px;
    }

    .download {
        width: 231px;
    }

    .tab__menu_info-container {
        padding-left: 84px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

}
